
/*CARD */

.card {
	position: relative;
	float: left;
	width: 29%;
	height: 0;
	margin: 2%;
	padding-bottom: 20%;
}

.card__container {
	position: fixed;
	top: 0;
	left: 0;
	overflow-x: hidden;
	overflow-y: auto;
	width: 100%;
	height: 100%;
	-webkit-overflow-scrolling: touch;
}

.card__container--closed {
	position: absolute;
	overflow: hidden;
}

.card__image {
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
}

.card__container--closed .card__image {
	position: relative;
	cursor: pointer;
}
/* Fix IE */

.card__container--fix-image .card__image {
	position: fixed;
}

.card__content {
	position: relative;
	width: 100%;
	max-width: 900px;
	height: auto;
	margin: 150px auto 60px;
	padding: 30px 40px 22px;
	background: #fff;
}

.card__container--closed .card__content {
	margin-top: 0;
	padding: 0 16px;
	pointer-events: none;
	background: transparent;
}

.card__caption {
	font-size: 2em;
	max-width: 800px;
	margin: 0 auto;
	padding: 35px 30px 0px;
}

.card__container--closed .card__caption {
	font-size: 1em;
	max-width: auto;
	padding: 10px 10px 25px;
	-webkit-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	transform: translateY(-100%);
}

.card__title {
	font-size: 1.5em;
	line-height: 1;
	margin: 5px 0 0 0;
	color: #3b393d;
}

.card__container--closed .card__title {
	color: #fff;
}

.card__subtitle {
	font-size: .95em;
	line-height: 1;
	margin: 5px 0 0;
	color: #777778;
}

.card__container--closed .card__subtitle {
	color: #f5f5f5;
}

.card__copy {
	font-size: 1em;
	max-width: 900px;
	margin: 0 auto;
	padding: 25px 30px 100px;
	color: #3b393d;
}



.card__btn-close {
	font-size: 18px;
	position: absolute;
	top: 0;
	right: 0;
	padding: 36px;
	cursor: pointer;
}

.card__container--closed .card__btn-close {
	display: none;
}

.meta {
	font-size: .85em;
	display: -webkit-flex;
	display: flex;
	padding: 0 0 35px 0;

	-webkit-align-items: center;
	align-items: center;
}

.meta__avatar {
	border-radius: 50%;
	height: 50px;
	width: 50px;
}

.meta__author {
	font-weight: bold;
	padding: 0 15px;
}

.meta__date {
	margin: 0 0 0 auto;
}

@media only screen and (max-width: 980px) {
	.card {
		width: 46%;
		padding-bottom: 32.2%;
	}
	.card__content {
		margin-bottom: 0;
		padding-right: 20px;
		padding-left: 20px;
	}
}

@media only screen and (max-width: 580px) {
	.card {
		width: 96%;
		padding-bottom: 67.2%;
	}
}

@media only screen and (max-width: 400px) {
	.card__caption {
		font-size: 1.25em;
		padding: 35px 0px 0px;
	}
	.meta {
		padding: 0 0 25px 0;
	}
	.card__copy {
		font-size: 90%;
		padding: 25px 0px 100px;
	}
.card__content {
	position: relative;
	width: 100%;
	max-width: 1200px;
	height: auto;
	margin: 150px auto 60px;
	padding: 30px 40px 22px;
	background: #fff;
}
    
}


*,
*:after,
*:before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

.clearfix:before,
.clearfix:after {
	content: '';
	display: table;
}

.clearfix:after {
	clear: both;
}

body {
	font-family: Avenir, 'Helvetica Neue', 'Lato', 'Segoe UI', Helvetica, Arial, sans-serif;
	line-height: 1.5;
	color: #3b393d;
	background: #f0f0f0;
	background-size: cover;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	overflow: hidden;
	overflow-y: scroll;
}

body.body--hidden {
	overflow: hidden;
}

body.body--hidden .header {
	opacity: 0;
}

.header{
	-webkit-transition: opacity 300ms ease-in-out;
	transition: opacity 300ms ease-in-out;
}

a {
	text-decoration: none;
	color: #de6551;
	outline: none;
}

a:hover,
a:focus {
	color: #3b393d;
}

.body {
	background: #acaad1;
}

.body a {
	color: #000000;
}

.body .header h1 span {
	color: #4f4c4c;
}

.hidden {
	position: absolute;
	overflow: hidden;
	width: 0;
	height: 0;
	pointer-events: none;
}
/* Header */

.header {
	padding: 2em 1em;
	text-align: center;
}

.header h1 {
	font-size: 3em;
	font-weight: 400;
	line-height: 1.2;
	margin: .5em 0 0;
}

.header h1 span {
	font-size: .45em;
	display: block;
	padding: .5em 0 1em;
	color: #999;
}
/* Top Navigation Style */

.links {
	margin: 2em 0 0;
}

.links a {
	display: inline-block;
	margin: 0 .5em;

}

/* text in about and contact section */

.text {
    font-size: 1.2em;
	text-align: center;
}
    

/* cards wrapper and close btn */

.wrapper {
	overflow: auto;
	width: 85%;
	max-width: 1366px;
	margin: 0 auto;
    
}

@media screen and (max-width: 50em) {
	.header {
		padding: 3em 10% 4em;
	}
}

@media screen and (max-width: 40em) {
	.header h1 {
		font-size: 2.4em;
		line-height: 1.2;
	}
}

/* PATTERN */

.pattern {
	position: fixed;
	z-index: -1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: no-repeat center center / cover;
}

.pattern--hidden {
	visibility: hidden;
	opacity: 0;
}

.pattern--hidden .polygon {
	transition-duration: 0ms;
}

.pattern svg {
	width: 100%;
	height: 100%;
}

.polygon {
	transition: -webkit-transform 300ms ease-in-out, opacity 300ms ease-in-out;
	transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
	-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transform-origin: center bottom;
	transform-origin: center bottom;
}

.polygon--hidden {
	opacity: 0;
	-webkit-transform: scale(0);
	transform: scale(0);
}
/* disable scale on firefox */

.ff .polygon {
	-webkit-transform: scale(1)!important;
	transform: scale(1)!important;
}








.buttons ul {
	margin: 0;
	padding: 0;
	list-style-type: none;

}

.buttons ul {
    position: fixed;
	display: block;
	width: 10%;
	height: 5vh;
	margin: auto;
	max-width: 1000px;
	justify-content: space-between;
	text-align: left;
   
  
}
.buttons li {

  padding: 1rem 2rem 1.15rem;
  text-transform: uppercase;
  cursor: pointer;
  color: #000000;
	min-width: 80px;
	margin: auto;
}

.buttons li:hover {

border-radius: 25px;
  background-color: rgba(50,0,0,.3);
  background-size: 100% 100%;
  color: #27262c;
  animation: spring 300ms ease-out;
  text-shadow: 0 -1px 0 #ef816c;
	font-weight: bold;
}
.buttons li:active {
  transform: translateY(4px);
}

@keyframes spring {
  15% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.2, 1.1);
  }
  40% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(0.95, 0.95);
  }
  75% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1.05, 1);
  }
  100% {
    -webkit-transform-origin: center center;
    -webkit-transform: scale(1, 1);
  }
}

.shameless-plug{
  position: absolute;
  bottom: 10px;
  right: 0;
  padding: 8px 20px;
  color: #ccc;
  text-decoration: none;
}


/* button */

ul.actions {
			cursor: default;
			list-style: none;
			padding-left: 0;
		}

			ul.actions li {
				display: inline-block;
				padding: 0 1em 0 0;
				vertical-align: middle;
			}

				ul.actions li:last-child {
					padding-right: 0;
				}

			ul.actions.small li {
				padding: 0 0.5em 0 0;
			}

			ul.actions.vertical li {
				display: block;
				padding: 1em 0 0 0;
			}

				ul.actions.vertical li:first-child {
					padding-top: 0;
				}

				ul.actions.vertical li > * {
					margin-bottom: 0;
				}

			ul.actions.vertical.small li {
				padding: 0.5em 0 0 0;
			}

				ul.actions.vertical.small li:first-child {
					padding-top: 0;
				}

			ul.actions.fit {
				display: table;
				margin-left: -1em;
				padding: 0;
				table-layout: fixed;
				width: calc(100% + 1em);
			}

				ul.actions.fit li {
					display: table-cell;
					padding: 0 0 0 1em;
				}

					ul.actions.fit li > * {
						margin-bottom: 0;
					}

				ul.actions.fit.small {
					margin-left: -0.5em;
					width: calc(100% + 0.5em);
				}

					ul.actions.fit.small li {
						padding: 0 0 0 0.5em;
					}



input[type="submit"],
	input[type="reset"],
	input[type="button"],
	.button {
		-moz-appearance: none;
		-webkit-appearance: none;
		-ms-appearance: none;
		appearance: none;
		-moz-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
		-webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
		-ms-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
		transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out, border-color 0.2s ease-in-out;
		background-color: transparent;
		border-radius: 0.35em;
		border: solid 3px #efefef;
		color: #787878 !important;
		cursor: pointer;
		display: inline-block;
		font-weight: 400;
		height: 3.15em;
		height: calc(2.75em + 6px);
		line-height: 2.75em;
		min-width: 10em;
		padding: 0 1.5em;
		text-align: center;
		text-decoration: none;
		white-space: nowrap;
	}

		input[type="submit"]:hover,
		input[type="reset"]:hover,
		input[type="button"]:hover,
		.button:hover {
			border-color: #49bf9d;
			color: #49bf9d !important;
		}

		input[type="submit"]:active,
		input[type="reset"]:active,
		input[type="button"]:active,
		.button:active {
			background-color: rgba(73, 191, 157, 0.1);
			border-color: #49bf9d;
			color: #49bf9d !important;
		}

		input[type="submit"].icon,
		input[type="reset"].icon,
		input[type="button"].icon,
		.button.icon {
			padding-left: 1.35em;
		}

			input[type="submit"].icon:before,
			input[type="reset"].icon:before,
			input[type="button"].icon:before,
			.button.icon:before {
				margin-right: 0.5em;
			}

		input[type="submit"].fit,
		input[type="reset"].fit,
		input[type="button"].fit,
		.button.fit {
			display: block;
			margin: 0 0 1em 0;
			min-width: 0;
			width: 100%;
		}

		input[type="submit"].small,
		input[type="reset"].small,
		input[type="button"].small,
		.button.small {
			font-size: 0.8em;
		}

		input[type="submit"].big,
		input[type="reset"].big,
		input[type="button"].big,
		.button.big {
			font-size: 1.35em;
		}

		input[type="submit"].special,
		input[type="reset"].special,
		input[type="button"].special,
		.button.special {
			background-color: #49bf9d;
			border-color: #49bf9d;
			color: #ffffff !important;
		}

			input[type="submit"].special:hover,
			input[type="reset"].special:hover,
			input[type="button"].special:hover,
			.button.special:hover {
				background-color: #5cc6a7;
				border-color: #5cc6a7;
			}

			input[type="submit"].special:active,
			input[type="reset"].special:active,
			input[type="button"].special:active,
			.button.special:active {
				background-color: #3eb08f;
				border-color: #3eb08f;
			}

		input[type="submit"].disabled, input[type="submit"]:disabled,
		input[type="reset"].disabled,
		input[type="reset"]:disabled,
		input[type="button"].disabled,
		input[type="button"]:disabled,
		.button.disabled,
		.button:disabled {
			background-color: #e7e7e7 !important;
			border-color: #e7e7e7 !important;
			color: #b2b2b2 !important;
			cursor: default;
		}


